apiVersion: v1
kind: Service
metadata:
  name: user-db
spec:
  ports:
    - port: 3306
  selector:
    app: user-db
  clusterIP: None
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-db
spec:
  selector:
    matchLabels:
      app: user-db
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: user-db
    spec:
      containers:
        - image: mysql:5.6
          name: user-db
          env:
            # Use secret in real usage
            - name: MYSQL_ROOT_PASSWORD
              value: password
          ports:
            - containerPort: 3306
              name: user-db
          volumeMounts:
            - name: user-db-persistent-storage
              mountPath: /var/lib/user-db
      volumes:
        - name: user-db-persistent-storage
          persistentVolumeClaim:
            claimName: user-db-pv-claim
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: user-db-pv-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: user-db-pv-claim
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
